*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
   
    max-width: 80%;
    padding: 34px;
    
    margin:auto;
}
.container h1,p{
    font-size: 35px;
    font-family:'PT Sans', sans-serif;;
    color: red;
    text-align: center;
}
p{
    font-family:'PT Sans', sans-serif;;
    color:green;
    text-align: center;
    font-size: 25px;
}
input,textarea{
    width: 80%;
    margin: 10px auto;
    font-size: 19px;
    padding: 7px;
    border: 2px solid black;
    border-radius: 10px;
    outline: aqua;
    display: block;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color:purple;
    background:aqua;
    padding: 18px 10px; 
    font-size: 20px;
    border: 2px solid white;
    border-radius: 14px;
    cursor: pointer;
}

  .imgage {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;
      
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
      
    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
  }
  .lol{
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
      
  }